@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;800&display=swap');
@import './partials/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ------------------------------------
// remove bootrap default value
// ------------------------------------
ul {
    margin-bottom: 0;
    padding-left: 0;
}

p {
    margin-bottom: 0;
}

// ------------------------------------

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from($primary_color),
            to($secondary_color),
            color-stop(.6, #dea254))
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #b30000;
// }